* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

nav a {
  color: #684d3f; }
  nav a:hover {
    color: #e07f00; }

a {
  transition: color 0.25s ease; }

a:hover {
  color: #fdbc67; }

body {
  font-family: "Quicksand", sans-serif; }

.continer {
  width: 870px; }

/*HEADER NAVIGATION*/
.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.07); }

.navbar-expand-lg .navbar-nav .nav-link {
  color: #684d3f;
  font-weight: bold;
  padding-right: 1rem;
  padding-left: 1rem; }

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #e07f00; }

.navbar-toggler:hover span {
  background-color: #e07f00; }

.navbar-toggler:focus {
  outline: none; }

.navbar-toggler:focus span {
  background-color: #fdbc67; }

.navbar-toggler span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #684d3f;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease; }

.navbar-toggler span::first-child {
  transform-origin: 0% 0%; }

.navbar-toggler span:nth-last-child(2) {
  transform-origin: 0% 100%; }

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px; }
  .navbar-brand span {
    color: #e07f00; }

/*MAIN CONTENT*/
.hero-img {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center; }
  @media (min-width: 768px) {
    .hero-img {
      align-items: flex-start;
      min-height: 83vh; } }
  @media (min-width: 768px) {
    .hero-img {
      align-items: flex-start;
      min-height: 73vh; } }

.hero-h1 {
  color: #fff;
  background: #fcb250;
  width: fit-content;
  padding: 2%;
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: -28px; }
  @media (min-width: 1240px) {
    .hero-h1 {
      font-size: 2.7rem;
      margin-left: -4rem; } }

.picto-img {
  margin-bottom: 15px;
  width: 50%; }

.picto-img img {
  width: 100%; }

.picto-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }

.picto-wrap .h3 {
  text-align: center; }

p {
  text-align: justify; }

/*----------
  ------------- video ------------------------------------------------------------------ */
.videos-container {
  display: flex;
  text-align: center;
  justify-content: center; }

.video-container {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  background-image: url("media/img/video-poster.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 0;
  padding-bottom: 40%; }

.video-container .play-video {
  position: absolute;
  top: calc(33% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
  background-color: transparent;
  border: none !important;
  outline: none !important; }

.video-container .play-video img {
  width: 10vw; }

.video-wrap {
  position: relative; }

.video-wrap video {
  width: 100%; }

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.video-holder {
  position: absolute;
  max-width: 1440px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.video-holder video {
  display: none; }

/*----------
  ------------- footer ------------------------------------------------------------------ */
.footer {
  background-color: #684d3f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex; }

.email {
  margin-bottom: 5px;
  color: #fff; }

.social {
  display: flex; }

.contact {
  margin-bottom: 10px;
  color: #fff; }

.contact:hover {
  color: #fdbc67;
  text-decoration: none; }

.footer small {
  color: #fdbc67;
  margin-bottom: 20px; }

.contact-title {
  color: #fdbc67;
  text-transform: uppercase;
  padding-top: 20px; }

.facebook img {
  width: 40px;
  color: #fff; }

/*----------
  ------------- flexslider ------------------------------------------------------------------ */
.flexslider {
  max-width: 780px;
  margin: 0 auto 60px; }

.flex-viewport {
  max-height: 500px; }

.flex-direction-nav a::before {
  font-size: 30px;
  color: #fff; }

.flexslider .slides {
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .flexslider .slides {
      display: block; } }

/*# sourceMappingURL=style.css.map */
